// 定义主题颜色
@mainColor:#006699;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
   padding: 50px 0; 
}

.fl {
    float: left;
}

.fr {
    float: right;
}
// 头部
#header {
    width: 100%;
    height: 50px;
    background-color: @mainColor;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    h4 {
        font-size: 18px;
        color: #fff;
        line-height: 50px;
        text-align: center;
    }
    .fa-search,.home,.fa-refresh {
        font-size: 18px;
        position: absolute;
        top:15px;
        right:15px;
        color: #fff;
    }
    .icon_back {
        font-size: 18px;
        position: absolute;
        top:15px;
        left:15px;
        color: #fff;
    }
    .formdata {
        padding: 8px 50px 0;
        .searchbar {  
            margin-bottom: 0;
            text-align: left;
            background-color: #fff;
        }
    }
    
}

// 搜索框的样式
.searchbar {
    position: relative;
    .search-form {
        padding: 10px 60px 10px 10px;
        .search-input {
            margin-bottom: 0;
            height: 35px;
            border: 1px solid @mainColor;
            border-radius: 5px 0 0 5px;           
        }
    } 
        .search-button {
            position: absolute;
            line-height:34px;
            width: 50px;
            top: 10px;
            right:10px;
            background-color: @mainColor;
            border-radius: 0px 5px 5px 0px;
            border-color: @mainColor;
            text-align: center;
        }
    }


// 底部
#footer {
    background-color: @mainColor;
    height: 50px;
    text-align: center;
    margin-top: 5px;
    position: fixed;
    z-index: 999;
    bottom:0;
    left: 0;
    width: 100%;
    >div {
        >div {
            line-height: 50px;
            padding: 10px 0;                    
            a {
                display: block;
                height: 50px;  
                font-size: 14px;
                color: #fff;               
                p {   
                color: #fff;            
                 margin-top: 3px;
                 &.active {
                    color:orange;
                    }
                }
                &.active {
                    color:orange;
                }
            }
        }
    }
 }

.content {
    .mui-row{            
        >li {
            list-style: none;
            margin-bottom: 10px;               
            padding: 5px;
            a {
                display: block;
                // 阴影设置给a,设置给装所有内容的盒子,设置padding之后盒子外层变小了就会有间隙
                box-shadow: 0 0 5px #666;
                width: 100%;
                height: 100%;
                text-align: center;
                padding-bottom: 8px;
                img {
                    width: 100%;
                }  
                p {             
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
                .price {
                    span{
                        color:orange;
                    }
                    del {
                        color:#666;
                    }
                }
                button {
                    background-color: @mainColor;        
                }
            }
        }
    }
}
