@import "base.less";

body {
    background-color: #fff;
}

#carousel {   
    .mui-slider-indicator {      
        bottom:40px;      
    }
}

#nav {
    padding: 0 10px;
    .mui-row {
        .mui-col-xs-4 {
            a {
                display: block;               
                img {
                    width: 100%;
                    vertical-align: middle;
                }
            }
        }
    }
}

#banner {
    padding: 0 10px;
    margin-top: 10px;
    a {
        display: block;
        img {
            width: 100%;
            vertical-align: middle;
        }
    }
}

#brand {
    padding: 0 10px;
    a {
        display: block;
        img {
            width: 100%;
            vertical-align: middle;
        }
    }
}

#sport,#women,#man {
    padding: 0 10px;
    margin-top: 10px;
    >.title{
        >a {
            >img {
              width: 100%;  
            }
        }
    }
    
}

